/* Index.html*/

body {
background-color: #001724;
font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
overflow-x: hidden;
margin: 0;
}

/* Animação Principal */

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.5s ease-out, transform 2s ease-out;
}

.reveal.ativo {
  opacity: 1;
  transform: translateY(0);
}


/* Faixa */
.faixa {
  width: 100vw;
  margin-top: 10%;
  overflow: hidden;
  white-space: nowrap;
  background: #111;
  padding: 30px 0;
  box-shadow: 0 -18px 15px rgba(0, 0, 0, 0.4), 0 18px 15px rgba(0, 0, 0, 0.4);
}

.conteudo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  width: max-content;
  animation: mover 40s linear infinite;
}

.conteudo:hover {
  animation-play-state: paused;
}

.conteudo img {
  height: 90px;
  background-color: #fff;
  padding: 30px;
  border-radius: 40px;
  opacity: 0.4;
  transition: 
    transform 0.4s ease,
    opacity 0.4s ease,
    box-shadow 0.4s ease;
}

.conteudo img:hover {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 1);
}

@keyframes mover {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Sobre mim */

.mini-menu {
  width: 700px;
  display: flex;
  color: #fff;
  background-color: #111;
  border-radius: 30px;
  padding: 30px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);

}

summary {
  position: absolute;
}

.Sobre {
  margin-left: 20%;
}

.Sobre h1 {
  margin-left: 40px;
  color: #fff;
  margin-top: 5%;
}

.mini-menu p {
  margin-top: 50px;
  
}

.mini-menu:hover summary {
  text-decoration: underline;
}



/* Navegação */
nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 10px;
}

nav ul li h1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 60px;
  margin-top: 0px;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-right: 40px;

}

nav ul li a span:hover {
  text-decoration: underline;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Apresentacao principal, topo da tela */
.apresentacao p {
  color: #fff;
 padding: 50px;
 margin-top: 0px;
 font-size: 20px;
}

.apresentacao h1 {
  font-size: 60px;
  color: #fff;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 0px;
}

.apresentacao h2 {
  font-size: 30px;
  color: rgb(5, 109, 194);
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.links a {
  color: rgb(5, 109, 194);
  font-size: 20px;
  margin-left: 50px;
  border-style: solid;
  border-color: rgb(5, 109, 194);
  border-radius: 100%;
  padding: 20px;
  transition: 
    box-shadow 0.4s ease;
}

.links a:hover {
  color: #fff;
  border-color: #fff;;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}



/* contato.html*/
