/* Index.html*/

body {
background-color: #001724;
font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
overflow-x: hidden;
margin: 0;
}


nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 10px;
}

nav ul li h1 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 60px;
  margin-top: 0px;
}

nav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-right: 40px;

}

nav ul li a span:hover {
  text-decoration: underline;
}

nav ul li a:hover {
  text-decoration: underline;
}

.apresentacao p {
  color: #fff;
 padding: 50px;
 margin-top: 0px;
 font-size: 20px;
}

.apresentacao h1 {
  font-size: 60px;
  color: #fff;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 0px;
}

.apresentacao h2 {
  font-size: 30px;
  color: rgb(5, 109, 194);
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.links a {
  color: rgb(5, 109, 194);
  font-size: 20px;
  margin-left: 50px;
  border-style: solid;
  border-color: rgb(5, 109, 194);
  border-radius: 100%;
  padding: 20px;
}

.links a:hover {
  color: #fff;
  border-color: #fff;
}

footer {
  background-color: rgb(5, 109, 194);
  width: 100%;
  margin-top: 200px;
  height: 300px;
  box-shadow: 0 -18px 15px rgba(0, 0, 0, 0.4), 0 18px 15px rgba(0, 0, 0, 0.4);
}

/* contato.html*/
